<div class="maincontainer">

	<h1><%= @song.songname %> Flashcards</h1>

	<div class="fcontainer">
		<% @song.flashcards.each_with_index do |flashcard, index| %>
			<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
			  <div class="flipper">
			    <div class="front">
			      <h2 style="font-weight: bold; border-bottom: 1px solid #E9A0A9"><%= flashcard.bvocab %></h2>
						<p><%= flashcard.bextra %></p>
			    </div>
			    <div class="back">
			      <h2 style="border-bottom: 1px solid #E9A0A9"><%= flashcard.fvocab %></h2>
						<p><%= flashcard.fextra %></p>
			    </div>
			  </div>
			</div>
	  <% end %>
	</div>

</div>

