<div class="maincontainer">

	<h1><%= @song.songname %> Flashcards#index</h1>

	<div class="fcontainer">
		<% @song.flashcards.each_with_index do |flashcard, index| %>
			<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
			  <div class="flipper">
			    <div class="front">
			      <p>id: <%= "flashcard_#{index}" %></p>
						<p>back: <%= flashcard.bvocab %></p>
			    </div>
			    <div class="back">
			      <p>id: <%= "flashcard_#{index}" %></p>
						<p>front: <%= flashcard.fvocab %></p>
			    </div>
			  </div>
			</div>
	  <% end %>
	</div>

</div>

