<div class="songcontainer">
	</br>
	<h1>
		<%= @song.songname %>
	</h1>
	</br>
	<div class="pagelinks">
		<%= link_to 'FLASHCARDS', language_song_flashcards_path(@language, @song) %>
	</div>
</br>
	<div>
		<%= audio_tag("#{@song.songurl}", id: "audioplayer") %>
	</div>

	<div class="songanimation">
		<div class="animation">
			<% @song.images.each_with_index do |image, index| %>
				<div>
					<%= image_tag("#{image.imageurl}", id: "image_#{index}") %>
				</div>
			<% end %>
		</div>
	</div>

	</br>

	<div class="buttons">
		<button onclick="playAll()" type="button">Play</button>
		<!-- <button onclick="pauseAll()" type="button">Stop</button> -->
	</div>

	</br>

	<div class="footnote">
		<div id="footnote1"></div>
		<div id="footnote2"></div>
		<div id="footnote3"></div>
	</div>

	</br>
	
	<div class="pagelinks">
		<%= link_to 'BACK', languages_path %>
	</div>

</div>
