<div class="songcontainer">
	</br>
	<h1 id="determineSong">
		<%= @song.songname %>
	</h1>
	</br>

	<!-- 	<div class="pagelinks1"> -->
	<button onclick="playAll()" type="button">PLAY</button>
	<!-- <button onclick="pauseAll()" type="button">Stop</button> -->
	<!-- </div> -->

		<!-- 	<div class="pagelinks1"> -->
	<button onclick="stopAll()" type="button">STOP</button>
	<!-- <button onclick="pauseAll()" type="button">Stop</button> -->
	<!-- </div> -->

	<!-- favorite/unfavorite button -->
  <% if current_user.favorites.include? @song %>
    <%= link_to icon('heart'), favorite_language_song_path(@language, @song, type: "unfavorite"), method: :put, class: "pagelinks2" %>
  <% end %>
  <% if current_user.favorites.exclude? @song %>
    <%= link_to icon('heart-o'), favorite_language_song_path(@language, @song, type: "favorite"), method: :put, class: "pagelinks2" %>
  <% end %>

	<div class="pagelinks1" type="button">
		<%= link_to 'FLASHCARDS', language_song_flashcards_path(@language, @song)%>
	</div>

	<div class="pagelinks2" type="button">
		<%= link_to 'BACK', languages_path %>
	</div>

	<div>
		<%= audio_tag("#{@song.songurl}", id: "audioplayer") %>
	</div>

	<div class="songanimation">
		<div class="animation">
			<% @song.images.each_with_index do |image, index| %>
				<div>
					<%= image_tag("#{image.imageurl}", id: "image_#{index}") %>
				</div>
			<% end %>
		</div>
	</div>

	<div class="footnote">
	  <%= div_for(@song.translations.each, class: "foo") do |translation| %>
	  
	  <% end %>
	</div>


	<!-- <div class="footnote">
		<h4>Mandarin</h4>
		<div id="footnote1"></div>
		<h4>PinYin</h4>
		<div id="footnote2"></div>
		<h4>English</h4>
		<div id="footnote3"></div>
	</div> -->

</div>