<h1>Songs#show</h1>
<p>Find me in app/views/songs/show.html.erb</p>
<h1>
	<%= @song.songname %>
</h1>

<!-- listing exercises -->
<div class="exercises">
	<div class="ex1">
		<p>exercise name</p>
	</div>

	<div class="ex1">
		<p>exercise name</p>
	</div>

	<div class="ex1">
		<p>exercise name</p>
	</div>
</div>
<!-- listing exercises -->

<%= audio_tag("#{@song.songurl}", controls: true, class: "ouraudio") %>

<div id="footnote"></div>

<% @song.translations.each_with_index do |translation, index| %>
	<h3><%= translation.varname %></h3>
	<div id='<%="translation_#{index}" %>'>
		<%= translation.varbody %>
	</div>
<% end %>

<div class="songanimation">
	<% @song.images.each_with_index do |image, index| %>
		<div class='<%="image_#{index}" %>'>
			<%= image_tag("#{image.imageurl}") %>
		</div>
	<% end %>
</div>