<!DOCTYPE html>
<html>
<head>
  <title>Lingo-Oke</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Lilita+One' rel='stylesheet' type='text/css'>
</head>

<body>
	<div class="header"> <!-- header -->
		<header>
			<nav>
				<% if user_signed_in? %>
					<div id="logo">
						<img src="/assets/logo-small.png">
					</div>
				<% end %>
			  <div class="dropdown">
			    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">MENU <span class="caret"></span>
				  </button>
			    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
			    	<% if user_signed_in? %>
			    		<li role="presentation">
				      	<a role="menuitem" tabindex="-1" href="#">
				      		<%= link_to 'HOME', languages_path, id: "menulinks" %>
				      	</a>
				      </li>
				      <li role="presentation">
				      	<a role="menuitem" tabindex="-1" href="#">
				      		<%= link_to 'PROFILE', user_path(current_user.id), id: "menulinks" %>
				      	</a>
				      </li>
			    		<li role="presentation"></li> <!-- divider -->
				      <li role="presentation">
				      	<a role="menuitem" tabindex="-1" href="#">
				      		<%= link_to 'SIGN OUT', destroy_user_session_path, method: :delete, id: "menulinks" %>
				      	</a>
				      </li>
			      <% else %>
			      <li role="presentation">
			      	<a role="menuitem" tabindex="-1" href="#">
			      		<%= link_to 'SIGN IN', new_user_session_path, id: "menulinks" %>
			      	</a>
			      </li>
			      <li role="presentation">
			      	<a role="menuitem" tabindex="-1" href="#">
			      		<%= link_to 'SIGN UP', new_user_registration_path, id: "menulinks" %>
			      	</a>
			      </li>
			      <% end %>
			    </ul>
			  </div>
			</nav>
		</header>
	</div> <!-- header -->

	<div class="notifications"> <!-- notifications -->
		<p class="notice"><%= notice %></p>
	  <p class="alert"><%= alert %></p>
	</div> <!-- notifications -->

	<div class="main"> <!-- main -->
	  <main>
			<%= yield %>
		</main>
	</div> <!-- main -->
	
	<div class="cleardiv">
	</div>

	<div class="footer"> <!-- footer -->
		<footer> 
			<h1>footer</h1>
		</footer>
	</div> <!-- footer -->

</body>
</html>
