<!DOCTYPE html>
<html>
<head>
  <title>Lingo-Oke</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
	<div class="header"> <!-- header -->
		<header>
			<nav>
				<div id="logo">
					<img src="/assets/logo-small.png">
				</div>
			  <div class="dropdown">
			    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">MENU
			    <span class="caret"></span>
				  </button>
			    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
			      <li role="presentation">
			      	<a role="menuitem" tabindex="-1" href="#">
			      		<%= link_to 'sign out', destroy_user_session_path, method: :delete %>
			      	</a>
			      </li>
			      <li role="presentation">
			      	<a role="menuitem" tabindex="-1" href="#">
			      		<%= link_to 'sign in', new_user_session_path %>
			      	</a>
			      </li>
			      <li role="presentation">
			      	<a role="menuitem" tabindex="-1" href="#">
			      		<%= link_to 'sign up', new_user_registration_path %>
			      	</a>
			      </li>
			      <li role="presentation" class="divider"></li>

			    </ul>
			  </div>
			</nav>
		</header>
	</div>

	<div class="notifications"> <!-- notifications -->
		<p class="notice"><%= notice %></p>
	  <p class="alert"><%= alert %></p>
	</div> <!-- notifications -->

	<div class="main"> <!-- main -->
	  <main>
			<%= yield %>
		</main>
	</div> <!-- main -->

	<div class="footer"> <!-- footer -->
		<footer> 
			<h1>footer</h1>
		</footer>
	</div> <!-- footer -->

</body>
</html>
