<!DOCTYPE html>
<html>
<head>
  <title>Lingo-Oke</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
	<div class="header"> <!-- header -->
		<header>
			<nav>
				<div id="logo">
					LOGO
				</div>

<div id="dropdown" class="ddmenu">
      User Settings
      <ul>
        <li><a href="#">My Profile</a></li>
        <li><a href="#">Friend Requests</a></li>
        <li><a href="#">Account Settings</a></li>
        <li><a href="#">Support</a></li>
        <li><a href="#">Log Out</a></li>
      </ul>
    </div>

</nav>
</header>

	<div class="notifications"> <!-- notifications -->
		<p>notifications</p>
		<p class="notice"><%= notice %></p>
	  <p class="alert"><%= alert %></p>
	</div> <!-- notifications -->

	<div class="main"> <!-- main -->
	  <main>
			<%= yield %>
		</main>
	</div> <!-- main -->

	<div class="footer"> <!-- footer -->
		<footer> 
			<h1>footer</h1>
		</footer>
	</div> <!-- footer -->

</body>
</html>
